<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ni.mybatisdemo.mapper.ClazzMapper">

    <sql id="basicSelect">
        id,name,number_of_people
    </sql>

    <select id="selectById" resultType="com.ni.mybatisdemo.entity.Clazz">
        select
        <include refid="basicSelect"/>
        from class where id=#{id}
    </select>
</mapper>